#{{ ansible_managed }}

server {
	listen [::]:80;
	listen 80;
	server_name {{ grafana_server_domain }};

	# redirect non-SSL to SSL
	return 301 https://{{ grafana_server_domain }}$request_uri;
}

server {
	listen [::]:443 ssl spdy;
	listen 443 ssl spdy;
	server_name {{ grafana_server_domain }};

	ssl_certificate {{ grafana_server_cert_file }};
	ssl_certificate_key {{ grafana_server_cert_key }};
	include /etc/nginx/ssl.conf;

	location / {
		proxy_pass http://127.0.0.1:{{ grafana_server_http_port }};
		proxy_set_header Host $host;
		proxy_set_header Authorization "";
		auth_basic "Restricted Access";
		auth_basic_user_file {{ grafana_auth_basic_user_file }};
	}
}
