#{{ ansible_managed }}

description "Graphite-API uWSGI server"

start on runlevel [2345]
stop on runlevel [!2345]

exec /opt/graphite-api/bin/uwsgi \
	--socket /tmp/uwsgi-graphite.sock \
	--chmod-socket=660 \
	--uid www-data \
	--gid www-data \
	--virtualenv /opt/graphite-api \
	--module graphite_api.app:app \
	--master \
	--processes 2 \
	--disable-logging \
	--logger file:/var/log/uwsgi/graphite-error.log \
	--die-on-term
